<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <form onsubmit="return Client.handleSubmit(event)">
    <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city" placeholder="City name">
    </div>
    <div>
        <label for="flightDate">Date</label>
        <input type="date" name="date" class="flightDate" id="flightDate" placeholder="Enter flight date">
    </div>

     <input type="submit" method="POST">
    </form>
</body>
</html>